.form {
  width: 100%;
  border: 1px solid var(--kwaba-gray-light-2);
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top: none;
  padding: 2rem 6rem;
}

.form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--kwaba-purple);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.progress span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--kwaba-gray-light);
}

.form__body_status {
  margin-bottom: 3rem;
}

.form__body_status p {
  font-size: 1.6rem;
    font-weight: 600;
    color: var(--kwaba-gray-2);
    margin-bottom: 1rem;
}

@media only screen  and (max-width: 600px) {
  .form {
    padding: 2rem 2rem;
  }
}